.nav_cportal {
  display: none;
  max-height: 56px;
  height: 56px;
  
}
.nav_cportal_inner {
}

.nav_cportal_show {
  height: 56px;
  z-index: 5;

}

.cportal_nav_active {
  margin-top: 0px!important;
  display: flex!important;

}

