<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Voori.nl | Clientportal</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">

<!-- CSS (load bootstrap from a CDN) -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/cportal.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>$(function() {
    $('.hover').on('mouseenter mouseleave', function() {
      $('nav').toggleClass('toggleNav');
    });
  });</script>
</head>
<body>
  <header>
<nav>
        
    <ul>

    
     <li><a href="http://localhost:4000/"><img class="img-responsive2"       
   src="http://static.tumblr.com/e2rgcy1/Ywiod4uar/fb-icon.png"></a></li>
       
     <li><a href="/" target="_blank"><img class="img-responsive2" src="http://static.tumblr.com/e2rgcy1/liGockmkp/twitter-256.png"></a></li>
   
   <li><a href="/"><img class="blog"       
   src="http://static.tumblr.com/e2rgcy1/i0Nocny7l/blog-icon.png"></a></li>

<li><a href="/" onclick="window.open(this.href, 'mywin', 
'toolbar=0,menubar=0,scrollbars=1,height=620,width=700'); return false;"><img class="img-responsive2"       
   src="http://static.tumblr.com/e2rgcy1/UrWocm53a/games-icon.png"></a></li> 
   

<li style="float:right"><a href="/"><img class="img-responsive2"       
   src="http://static.tumblr.com/e2rgcy1/vHdockmf2/tinychaticon.png"></a></li>
   
     <li style="float:right"><a href="/"><img class="img-responsive2"  src="http://static.tumblr.com/e2rgcy1/4Yxocknow/refresh.png"></a></li>
   
    <li style="float:right"><a href="/"><img class="img-responsive2"       
   src="http://static.tumblr.com/e2rgcy1/HPzod3sz1/pop-out-icon.png"></a></li> 
   
<li style="float:right"><a href="/""a target="_blank"><img class="img-responsive2"       
   src="http://static.tumblr.com/e2rgcy1/nz3ocovr0/tumblr-follow-icon.png"></a></li>
   
  
    

</ul>
    </nav>
</header>